#simple-index
  %div{'ng-controller' => "SearchCtrl"}
    #conversations-container
      .conversation-box{'ng-repeat' => 'primary_comment in conversations.slice(0,4)'}
        %vime{'comment' => 'primary_comment'}
        
        / .comment
        /   .message
        /     {{primary_comment.message}} {{primary_comment.id}}
        /   .footer
        /     %img.like{'src' => '/assets/like-icon.png'}
        /     %img.reply{'src' => '/assets/reply-icon.png'}
        /   .header
        /     %a.boxclose{'ng-click' => 'closeComment(primary_comment)'}